<div class="container mt-5">
  <div class="text-center">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Wprowadź zapytanie">
    <button (click)="search()">Szukaj</button>
  </div>
  <div class="card mb-4 col-4" *ngFor="let book of books">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img src="{{book.thumbnail}}" alt="{{book.title}}" class="img-fluid">
        </div>
        <div class="col-md-8">
          <h5 class="card-title">{{book.title}}</h5>
          <p class="card-text">Author: {{book.authors}}</p>
        </div>
      </div>
    </div>
  </div>
    
</div>
